<div class="container d-flex justify-content-center">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-12 mx-auto">
      <div class="card_login">
        <div class="card">
            <div class="card-body text-center">
         
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electrónico</label>
            <input class="form-control" [(ngModel)]="email" id="exampleInputEmail1" type="email" name="email" placeholder="Correo electrónico"  size="20">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input class="form-control" [(ngModel)]="password" id="exampleInputPassword1" type="password" name="password" placeholder="Contraseña"  size="15">
          </div>
          <br>
          <div class="form-group">
          <button class="btn btn-block btn-primary" type="button" style="cursor: pointer" (click)="login()">Entrar</button>
          </div>
        </form>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

